/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@200;400;600;800&display=swap");

* {
  font-family: "Lexend", sans-serif;
  color: #000;
}

/* Color */
.headColor {
  background: #ffc017;
}

/* Header Button */
.button {
  background: #fff;
}
.button:hover {
  background: #fff;
  color: #000;
}
.hFont {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: -4px;
}
.btnFont {
  font-size: 10px;
}
.bannerImg {
  width: 75%;
}
